
html{
    transition: 2s;
}
.u-header {
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff; 
}
.u-custom-menu li{
    display: inline-block;
}
.u-sheet{
    align-items: center;
}
.u-header .u-nav-item .active
{
    background-color: #dc7808;
    border-radius: 10px;
}

.u-header .u-nav-item a:hover
{
    background-color: #dc7808;
    border-radius: 10px;
    color: #ffff;
}
.u-header .u-nav-item a{
    color:black;
    text-decoration: none;
    align-items: center;
}
.video video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    top:-205px;
    z-index: -1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền của overlay (độ mờ 50%) */
    top:-210px;
} 

.first-content {
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
    top:-100px;
}

.text-on-video {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    
}

.u-container-layout span{
    top:-30px;
}
.u-container-layout span img
{
    width: 215px;
    height: auto;
}
.u-container-layout .u-custom-font
{
    padding-top: 10px;
}
.u-container-layout > .u-border-1{
    font-weight: bold;
}

.banner{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 230px;
    top:600px;
}
.productnew{
    background-color: #dc7808;
}
.category-menu .category-menucon{
    display: none;
    position:absolute;
    top:18px;
    left: -10px;
    z-index: 0;
}

.u-custom-menu li:hover .category-menucon{
    display:flex;
    flex-direction: column;
}
.category-menu ul li{
    background-color: #ffff;
    border-bottom: 1px solid black;
    padding: 10px;
}
.category-menucon .dropdown-item{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px 10px 10px; 
}
.u-header .u-nav-item .category-menu .category-menucon li a:hover{
   background-color: aliceblue;
}
.homesection{
    z-index: -2;
}
.title-news{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Thay số 3 bằng số dòng mà bạn muốn hiển thị */
        overflow: hidden;
        font-size: 30px;
}
.p-news{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Thay số 3 bằng số dòng mà bạn muốn hiển thị */
    overflow: hidden;
}

.aboutus{
    align-items: center;
    left: 50px;
}
.aboutus img{
    width: 500px;
    
}
.backgroudsection{
    background-color: #d8b38a;
}
.bkackgroudemmail{
    background: url(../images/unit_bg.jpg) no-repeat 0px 0px;
	
}
.u-repeater > .u-border-palette-2-base{
    border-color: #dc7808;
}
.card{
    border-radius: 20px;
    
}

.card .effectslide{
    position: relative;
    overflow: hidden;
    
}
.card .poster{
    /* content: ''; */
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#dc7808 50%);
    transition: 0.5s;
}
.des-product{
    font-size: 15px;
}
.edit{
    background-color: rgba(0, 0, 0, 0.5);
}
.edit h2{
    font-size: 23px;
}
.edit p{
    font-size: 20px;
}
.edit p .edit-price{
    color: #dc7808;
    font-weight: bold;
}
.backgroud-news{
    background: url(../images/bg.jpg) no-repeat 0px 0px;
}
.edit-news{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.edit-news h3{
    color: #ffff;
    font-weight: bold;
}
.edit-news .edit-h3{
    border-bottom: #dc7808 5px solid;
}
.edit-h2 h2{
    color: #dc7808;
    font-weight: bold;
}
.coloraboutus{
    background-color: #dc7808;
}
.nav-menu{
    align-items: center;
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 0px 20px;
    font-size: 17px;
}
#main-menu li:hover{
    border-bottom: #dc7808 3px solid;
}
#main-menu ul.sub-menu{
    position: absolute;
    display: none;
    background-color: #ffff;
    padding: 10px 10px;
    list-style: none;
    width: auto;
    top:12px;
    z-index: 1;
}
#main-menu li:hover .sub-menu{
    display: block;
}
#main-menu ul li a{
    padding: 8px 15px;
    border-bottom: black 1px solid;
    font-size: 17px;
}
#main-menu ul li:hover a{
    border-bottom: 3px solid #dc7808;
    
}
#main-menu ul li:last-child a{
    border:none;
}
.category-show{
    z-index: 1000;
}
/* edit show category */
/* brand model */
.name-brand-product{
    font-size: 12px;
    border-radius: 10px;
    border-bottom: #dc7808 3px solid;
    color: black;
    font-weight: bold;

}
/* name product */
.name-product{
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.link-product{
    text-decoration: none;
}

